In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
import time

In [2]:
#date_range

In [3]:
workouts = pd.read_csv('workouts.csv')

In [4]:
def epoch_end_convert(df):
    '''
    takes dataframe and converts date column to epoch milliseconds
    inputs:
        df = dataframe name
    '''
    try:
        return (int(time.mktime(time.strptime(df['end'], '%Y-%m-%d %H:%M:%S'))) - 14400)*1000
    except:
        #handles activities that have fractions of a second included
        return (int(time.mktime(time.strptime(df['end'][:19], '%Y-%m-%d %H:%M:%S'))) - 14400)*1000

In [5]:
#workouts_subset['end_epoch'] = workouts_subset.apply(epoch_end_convert, axis=1)
workouts['end_epoch'] = workouts.apply(epoch_end_convert, axis=1)

In [6]:
workouts.head()

   user_id                    start                      end  sport_id           name  intensity_score    z1    z2    z3    z4   z5      end_epoch
0      828      2015-09-15 20:08:00      2015-09-15 22:56:00        35  Track & Field        20.508564  1066  1810  1432  4668  679  1442357760000
1      828      2015-09-19 12:46:00      2015-09-19 14:09:00        35  Track & Field        16.823285   506   601  1861   696   22  1442671740000
2      828      2015-09-20 13:15:00      2015-09-20 16:00:00        35  Track & Field        20.506562   929  1302  1329  5353  321  1442764800000
3      828  2015-09-21 18:55:34.582  2015-09-21 18:58:37.876         1        Cycling         4.278678     8   170     5     0    0  1442861917000
4      828      2015-09-21 19:19:00      2015-09-21 21:12:00        35  Track & Field        19.176787   655  1757  1372  2781   28  1442869920000

#Adding in Time Periods (For Either Weeks or Races)

In [48]:
date_markers = pd.read_csv('epoch_dates.csv')

In [49]:
date_markers.head()

          ET_Date  date_start_epoch  race_period  bike_period  race_period_start  race_period_end  bike_period_start  bike_period_end
0  9/15/2015 0:00     1442289600000            1            1                  1                0                  1                0
1  9/16/2015 0:00     1442376000000            1            1                  0                0                  0                0
2  9/17/2015 0:00     1442462400000            1            1                  0                0                  0                0
3  9/18/2015 0:00     1442548800000            1            1                  0                0                  0                0
4  9/19/2015 0:00     1442635200000            1            1                  0                0                  0                0

In [39]:
#date_markers = date_markers[date_markers['race_period_start'] > 0].reset_index()
#dictionary of race period to start epoch
#race_start_dict = {}
#for i in range(0, len(date_markers)):
#    race_start_dict[date_markers.values[i][3]] = date_markers.values[i][2]

#date_markers = date_markers[date_markers['bike_period_start'] > 0].reset_index()
#bike_start_dict = {}
#for i in range(0, len(date_markers)):
#    bike_start_dict[date_markers.values[i][4]] = date_markers.values[i][2]

In [40]:
race_start_dict

{1L: 1442289600000L,
 2L: 1443240000000L,
 3L: 1445054400000L,
 4L: 1446264000000L,
 5L: 1447473600000L}

In [41]:
bike_start_dict

{1L: 1442289600000L,
 2L: 1443499200000L,
 3L: 1444104000000L,
 4L: 1444708800000L,
 5L: 1445313600000L,
 6L: 1446004800000L,
 7L: 1446609600000L,
 8L: 1447214400000L,
 9L: 1447819200000L}

In [67]:
def add_race(df):
    if (df.end_epoch >= race_start_dict[1]) and (df.end_epoch < race_start_dict[2]):
        return 1
    elif (df.end_epoch >= race_start_dict[2]) and (df.end_epoch < race_start_dict[3]):
        return 2
    elif (df.end_epoch >= race_start_dict[3]) and (df.end_epoch < race_start_dict[4]):
        return 3
    elif (df.end_epoch >= race_start_dict[4]) and (df.end_epoch < race_start_dict[5]):
        return 4
    elif (df.end_epoch >= race_start_dict[5]) and (df.end_epoch < 1448164800000):
        return 5
    else:
        return 0

In [68]:
def add_bike(df):
    if (df.end_epoch >= bike_start_dict[1]) and (df.end_epoch < bike_start_dict[2]):
        return 1
    elif (df.end_epoch >= bike_start_dict[2]) and (df.end_epoch < bike_start_dict[3]):
        return 2
    elif (df.end_epoch >= race_start_dict[3]) and (df.end_epoch < bike_start_dict[4]):
        return 3
    elif (df.end_epoch >= bike_start_dict[4]) and (df.end_epoch < bike_start_dict[5]):
        return 4
    elif (df.end_epoch >= bike_start_dict[5]) and (df.end_epoch < bike_start_dict[6]):
        return 5
    elif (df.end_epoch >= bike_start_dict[6]) and (df.end_epoch < bike_start_dict[7]):
        return 6
    elif (df.end_epoch >= bike_start_dict[7]) and (df.end_epoch < bike_start_dict[8]):
        return 7
    elif (df.end_epoch >= bike_start_dict[8]) and (df.end_epoch < bike_start_dict[9]):
        return 8
    elif (df.end_epoch >= bike_start_dict[9]):
        return 9

In [73]:
def add_periods(date_markers, df, buildup_days=0, version=None):
    '''
    Adds race periods to the input dataframe 'df'
        Inputs: 
            date_markers: dataframe with the ET date, the start epoch time of that date, and which race period the date is in
            df: the dataframe to add these date markers to
            buildup_days: if 0, we use the entire time period before the race/bike, after the previous one
                if not 0, and instead a value "n", we look at the "n" days before the race/bike as the "period"
            version: takes two values: "bike", or "race", and treats appropriately
    '''
    if version==None:
        print "Enter Either 'race' or 'bike'!"
    if buildup_days==0:
        if version=="race":
            #Collapse the data frame into only the start and end dates for each race period
            date_markers = date_markers[date_markers['race_period_start'] > 0].reset_index()
            
            #dictionary of race period to start epoch
            race_start_dict = {}
            for i in range(0, len(date_markers)):
                race_start_dict[date_markers.values[i][3]] = date_markers.values[i][2]
            
            #Now label each race period as 1, 2, 3, 4, or 5
            df['race_period'] = df.apply(add_race, axis=1)
            
        elif version=="bike":
            #same process, but using the bike start dates
            date_markers = date_markers[date_markers['bike_period_start'] > 0].reset_index()
            bike_start_dict = {}
            for i in range(0, len(date_markers)):
                bike_start_dict[date_markers.values[i][4]] = date_markers.values[i][2]
            df['bike_period'] = df.apply(add_bike, axis=1)
        return df

In [74]:
temp = add_periods(date_markers=date_markers, df=workouts, buildup_days=0, version="race")

In [87]:
group = temp.sort(['user_id', 'race_period', 'end_epoch'], ascending=[True, True, False])

In [90]:
group

     user_id                    start                      end  sport_id           name  intensity_score    z1    z2    z3    z4    z5      end_epoch  race_period
8        828      2015-09-25 18:30:00      2015-09-25 20:47:00         0        Running        19.797324  1453  1601  1803  2406   630  1443214020000            1
7        828  2015-09-23 20:47:48.968  2015-09-23 20:58:34.201        44           Yoga         4.081088   142    13     0     0     0  1443041914000            1
6        828  2015-09-23 19:31:48.525  2015-09-23 20:21:16.705        35  Track & Field        16.790126   126   499   703  1452    89  1443039676000            1
5        828      2015-09-22 20:31:00      2015-09-22 22:00:00        35  Track & Field        18.825382   767   992  1291   806  1323  1442959200000            1
4        828      2015-09-21 19:19:00      2015-09-21 21:12:00        35  Track & Field        19.176787   655  1757  1372  2781    28  1442869920000            1
3        828  2015-09-21 18:55:34.582  2015-09-21 18:58:37.876         1        Cycling         4.278678     8   170     5     0     0  1442861917000            1
2        828      2015-09-20 13:15:00      2015-09-20 16:00:00        35  Track & Field        20.506562   929  1302  1329  5353   321  1442764800000            1
1        828      2015-09-19 12:46:00      2015-09-19 14:09:00        35  Track & Field        16.823285   506   601  1861   696    22  1442671740000            1
0        828      2015-09-15 20:08:00      2015-09-15 22:56:00        35  Track & Field        20.508564  1066  1810  1432  4668   679  1442357760000            1
30       828      2015-10-16 17:55:00      2015-10-16 20:16:00        35  Track & Field        19.064909  2052  1557  1584  1663   476  1445026560000            2
29       828  2015-10-15 19:02:00.445  2015-10-15 20:13:09.521        35  Track & Field        18.310353   360   274   825  2202   327  1444939989000            2
28       828      2015-10-13 19:19:00      2015-10-13 21:10:00        35  Track & Field        18.965747   822   957  1529  2065   402  1444770600000            2
27       828    2015-10-13 19:08:04.7  2015-10-13 19:13:11.825         1        Cycling         4.126466   223    10     0     0     0  1444763591000            2
26       828      2015-10-12 14:20:00      2015-10-12 16:10:00         0        Running        19.454810   906   683  1561  2093  1047  1444666200000            2
25       828      2015-10-10 12:49:00      2015-10-10 14:00:00         0        Running        18.797350   158    82   541  2836   569  1444485600000            2
24       828  2015-10-09 17:53:36.434  2015-10-09 18:39:28.937         0        Running        16.918751   183    95   597  1569   220  1444415968000            2
23       828      2015-10-08 20:15:00      2015-10-08 21:01:00         0        Running        13.002054   486   301   700   346     0  1444338060000            2
22       828      2015-10-06 19:23:00      2015-10-06 22:15:00        35  Track & Field        20.089158  2223  1106   769  2779  1237  1444169700000            2
21       828      2015-10-05 19:30:00      2015-10-05 21:30:00        35  Track & Field        18.354989  1409  2265   784  1722    35  1444080600000            2
20       828  2015-10-05 18:59:37.316  2015-10-05 19:04:43.983         1        Cycling         4.441370   284    25     0     0     0  1444071883000            2
19       828      2015-10-04 13:08:00      2015-10-04 15:39:00         0        Running        20.031764   792  1254  3033  3281    16  1443973140000            2
18       828      2015-10-03 21:40:00      2015-10-03 23:23:00         0        Running        18.030997   903  2060  1612   873    56  1443914580000            2
17       828      2015-10-03 12:53:00      2015-10-03 14:08:00        35  Track & Field        17.956618   314   466  1023  2170     8  1443881280000            2
16       828      2015-10-02 18:29:00      2015-10-02 20:43:00        35  Track & Field        19.958562   747  1269  2852  1626  1120  1443818580000            2
15       828      2015-09-30 19:44:00      2015-09-30 20:36:00         0        Running        17.835994   109   331   208  2373     4  1443645360000            2
14       828      2015-09-30 12:26:00      2015-09-30 13:05:00         0        Running        12.060437   290   526   873    26     0  1443618300000            2
13       828      2015-09-29 19:44:00      2015-09-29 21:47:00         0        Running        19.757302   458  1020  1510  3902    35  1443563220000            2
12       828  2015-09-28 19:15:26.285  2015-09-28 20:59:19.481         0        Running        19.058670   546   732  2118  2543    67  1443473959000            2
11       828   2015-09-28 19:08:40.25  2015-09-28 19:13:55.163         1        Cycling         4.601449   183   132     0     0     0  1443467635000            2
10       828      2015-09-27 12:50:00      2015-09-27 13:40:00         0        Running        15.833133   423   281   133  1604     1  1443361200000            2
..       ...                      ...                      ...       ...            ...              ...   ...   ...   ...   ...   ...            ...          ...
902     2508      2015-11-13 17:24:00      2015-11-13 17:59:00         0        Running        14.480417    42   250  1169   630     9  1447441140000            4
901     2508      2015-11-12 21:29:00      2015-11-12 21:46:00         0        Running        10.586142    99   308    40   483    12  1447368360000            4
900     2508      2015-11-11 20:39:00      2015-11-11 21:09:00         0        Running        14.386394    71   334   217  1161    17  1447279740000            4
899     2508      2015-11-10 20:36:00      2015-11-10 22:06:00        35  Track & Field        17.930761   974  1414  1465  1088   116  1447196760000            4
898     2508  2015-11-10 19:50:28.033  2015-11-10 19:55:30.291         1        Cycling         4.230830   295     4     0     0     0  1447188930000            4
897     2508  2015-11-09 22:37:02.225  2015-11-09 22:50:02.808        43        Pilates         6.458442   366   341    71     0     0  1447113002000            4
896     2508      2015-11-09 20:33:00      2015-11-09 22:35:00        35  Track & Field        18.079283  1928  1979  1760   516   264  1447112100000            4
895     2508      2015-11-08 14:20:00      2015-11-08 15:50:00         0        Running        18.926573   415   594  1310  2181   663  1447001400000            4
894     2508      2015-11-07 13:51:00      2015-11-07 14:29:00         0        Running        16.119935     3   107   732  1153   285  1446910140000            4
893     2508      2015-11-06 22:08:00      2015-11-06 22:18:00        43        Pilates         5.132584   421   102     0     0     0  1446851880000            4
892     2508      2015-11-06 19:20:00      2015-11-06 21:00:00        35  Track & Field        18.767560   721  1269  1718  1479   599  1446847200000            4
891     2508      2015-11-04 21:53:00      2015-11-04 22:08:00        43        Pilates         4.859564   240    51    60     0     0  1446678480000            4
890     2508      2015-11-04 20:35:00      2015-11-04 21:25:00         0        Running        16.326206   150   732   945  1009   163  1446675900000            4
889     2508  2015-11-03 23:22:10.818  2015-11-03 23:36:17.284        43        Pilates         7.130345   264   389   172     0     0  1446597377000            4
888     2508      2015-11-03 21:05:00      2015-11-03 22:45:00         0        Running        19.047499   276   559  2226  2205   456  1446594300000            4
887     2508      2015-11-02 21:45:00      2015-11-02 22:30:00        45  Weightlifting         9.519607   881   555   250     0     0  1446507000000            4
886     2508      2015-11-02 20:30:00      2015-11-02 21:45:00        35  Track & Field        17.481428   834  1239   890  1306   123  1446504300000            4
885     2508  2015-11-02 20:04:03.604  2015-11-02 20:09:05.334         1        Cycling         4.677997   195    15    49    28     0  1446498545000            4
884     2508      2015-11-01 13:52:00      2015-11-01 14:28:00         0        Running        15.120266    58   167   734  1075    66  1446391680000            4
883     2508      2015-10-31 13:15:00      2015-10-31 15:05:00        35  Track & Field        19.442182   479  1528  1625  1590  1352  1446303900000            4
910     2508      2015-11-21 14:10:00      2015-11-21 16:15:00        35  Track & Field        19.224049  1073  1864  1682  2021   412  1448126100000            5
909     2508      2015-11-20 21:10:00      2015-11-20 21:55:00        35  Track & Field        16.239232    72   297   835  1474    17  1448060100000            5
908     2508      2015-11-18 20:30:00      2015-11-18 22:20:00        35  Track & Field        18.930395   954   765  1296  2231   503  1447888800000            5
907     2508      2015-11-17 20:45:00      2015-11-17 21:22:00         0        Running        15.604932    39   135   809  1103   134  1447798920000            5
906     2508      2015-11-16 20:30:00      2015-11-16 22:15:00        35  Track & Field        18.337179  1410  1327   748  2019   124  1447715700000            5
905     2508  2015-11-16 20:06:21.254  2015-11-16 20:11:24.397         1        Cycling         2.687811    68     0     0     0     0  1447708284000            5
904     2508  2015-11-15 15:14:32.949  2015-11-15 15:29:24.887        43        Pilates         4.301356   225    14     0     0     0  1447604964000            5
903     2508      2015-11-15 13:55:00      2015-11-15 14:42:00         0        Running        13.870845   111  1623  1068     0     0  1447602120000            5
914     2509  2015-09-23 19:32:38.343  2015-09-23 20:31:18.186        35  Track & Field        17.487340   483   244    63   527  1221  1443040278000            1
913     2509  2015-09-22 19:48:29.016  2015-09-22 22:09:03.809         0        Running        19.294814   539  2708  3474   733   173  1442959743000            1

[915 rows x 13 columns]

    user_id                    start                      end  sport_id           name  intensity_score    z1    z2    z3    z4    z5      end_epoch  race_period  count
8       828      2015-09-25 18:30:00      2015-09-25 20:47:00         0        Running        19.797324  1453  1601  1803  2406   630  1443214020000            1     13
7       828  2015-09-23 20:47:48.968  2015-09-23 20:58:34.201        44           Yoga         4.081088   142    13     0     0     0  1443041914000            1     13
6       828  2015-09-23 19:31:48.525  2015-09-23 20:21:16.705        35  Track & Field        16.790126   126   499   703  1452    89  1443039676000            1     13
5       828      2015-09-22 20:31:00      2015-09-22 22:00:00        35  Track & Field        18.825382   767   992  1291   806  1323  1442959200000            1     13
4       828      2015-09-21 19:19:00      2015-09-21 21:12:00        35  Track & Field        19.176787   655  1757  1372  2781    28  1442869920000            1     13
3       828  2015-09-21 18:55:34.582  2015-09-21 18:58:37.876         1        Cycling         4.278678     8   170     5     0     0  1442861917000            1     13
2       828      2015-09-20 13:15:00      2015-09-20 16:00:00        35  Track & Field        20.506562   929  1302  1329  5353   321  1442764800000            1     13
1       828      2015-09-19 12:46:00      2015-09-19 14:09:00        35  Track & Field        16.823285   506   601  1861   696    22  1442671740000            1     13
0       828      2015-09-15 20:08:00      2015-09-15 22:56:00        35  Track & Field        20.508564  1066  1810  1432  4668   679  1442357760000            1     13
30      828      2015-10-16 17:55:00      2015-10-16 20:16:00        35  Track & Field        19.064909  2052  1557  1584  1663   476  1445026560000            2     13
29      828  2015-10-15 19:02:00.445  2015-10-15 20:13:09.521        35  Track & Field        18.310353   360   274   825  2202   327  1444939989000            2     13
28      828      2015-10-13 19:19:00      2015-10-13 21:10:00        35  Track & Field        18.965747   822   957  1529  2065   402  1444770600000            2     13
27      828    2015-10-13 19:08:04.7  2015-10-13 19:13:11.825         1        Cycling         4.126466   223    10     0     0     0  1444763591000            2     13
26      828      2015-10-12 14:20:00      2015-10-12 16:10:00         0        Running        19.454810   906   683  1561  2093  1047  1444666200000            2     13
25      828      2015-10-10 12:49:00      2015-10-10 14:00:00         0        Running        18.797350   158    82   541  2836   569  1444485600000            2     13
24      828  2015-10-09 17:53:36.434  2015-10-09 18:39:28.937         0        Running        16.918751   183    95   597  1569   220  1444415968000            2     13
23      828      2015-10-08 20:15:00      2015-10-08 21:01:00         0        Running        13.002054   486   301   700   346     0  1444338060000            2     13
22      828      2015-10-06 19:23:00      2015-10-06 22:15:00        35  Track & Field        20.089158  2223  1106   769  2779  1237  1444169700000            2     13
21      828      2015-10-05 19:30:00      2015-10-05 21:30:00        35  Track & Field        18.354989  1409  2265   784  1722    35  1444080600000            2     13
20      828  2015-10-05 18:59:37.316  2015-10-05 19:04:43.983         1        Cycling         4.441370   284    25     0     0     0  1444071883000            2     13
19      828      2015-10-04 13:08:00      2015-10-04 15:39:00         0        Running        20.031764   792  1254  3033  3281    16  1443973140000            2     13
18      828      2015-10-03 21:40:00      2015-10-03 23:23:00         0        Running        18.030997   903  2060  1612   873    56  1443914580000            2     13
17      828      2015-10-03 12:53:00      2015-10-03 14:08:00        35  Track & Field        17.956618   314   466  1023  2170     8  1443881280000            2     13
16      828      2015-10-02 18:29:00      2015-10-02 20:43:00        35  Track & Field        19.958562   747  1269  2852  1626  1120  1443818580000            2     13
15      828      2015-09-30 19:44:00      2015-09-30 20:36:00         0        Running        17.835994   109   331   208  2373     4  1443645360000            2     13
14      828      2015-09-30 12:26:00      2015-09-30 13:05:00         0        Running        12.060437   290   526   873    26     0  1443618300000            2     13
13      828      2015-09-29 19:44:00      2015-09-29 21:47:00         0        Running        19.757302   458  1020  1510  3902    35  1443563220000            2     13
12      828  2015-09-28 19:15:26.285  2015-09-28 20:59:19.481         0        Running        19.058670   546   732  2118  2543    67  1443473959000            2     13
11      828   2015-09-28 19:08:40.25  2015-09-28 19:13:55.163         1        Cycling         4.601449   183   132     0     0     0  1443467635000            2     13
10      828      2015-09-27 12:50:00      2015-09-27 13:40:00         0        Running        15.833133   423   281   133  1604     1  1443361200000            2     13
9       828      2015-09-26 13:51:00      2015-09-26 15:00:00         0        Running        18.177086   538   353   557  2124   365  1443279600000            2     13
46      828      2015-10-30 14:15:00      2015-10-30 16:15:00        35  Track & Field        19.378260  1510  1328   864  2496   636  1446221700000            3     13
45      828      2015-10-30 11:25:00      2015-10-30 11:45:00         0        Running        11.548433   184   283   212   522     0  1446205500000            3     13
44      828      2015-10-29 18:00:00      2015-10-29 19:18:00         1        Cycling        17.987559   800   688   855  1916    89  1446146280000            3     13
43      828  2015-10-28 17:54:42.345  2015-10-28 18:21:53.079         1        Cycling        12.894456   215   625    95   561    80  1446056513000            3     13
42      828  2015-10-28 17:27:42.974  2015-10-28 17:32:49.024         1        Cycling         5.022219    31   162   101     0     0  1446053569000            3     13
41      828      2015-10-27 20:00:00      2015-10-27 20:48:00         0        Running        17.273410    70    76   346  2212    61  1445978880000            3     13
40      828      2015-10-26 19:38:00      2015-10-26 21:54:00        35  Track & Field        19.014256  1809  1879  1438  2035   156  1445896440000            3     13
39      828      2015-10-24 13:00:00      2015-10-24 13:53:00         0        Running        17.453148   276   162   362  1861   255  1445694780000            3     13
38      828      2015-10-23 18:17:00      2015-10-23 20:44:00        35  Track & Field        19.865696  1489  1098   866  2788  1064  1445633040000            3     13